<!--Main Navigation-->
<header class="">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
          ENDELL
        </a>
        <!-- Left links -->
        <div *ngFor="let category of categories">
          <button mat-button [matMenuTriggerFor]="menu">{{category.name}}</button>
          <mat-menu #menu="matMenu" >
            <a mat-menu-item *ngFor="let subcategory of category.subcategories" href="/s/{{subcategory.id}}">{{subcategory.name}}</a>
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">Brands</button>
          <mat-menu #menu="matMenu" >
            <a *ngFor="let brand of brands" mat-menu-item href="/b/{{brand.id}}">{{brand.name}}</a>
          </mat-menu>
        </div>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Cart Icon -->
        <i *ngIf="isLoggedIn" class="material-icons-outlined cart-icon" onclick="window.location.href='/cart'">
          shopping_cart
        </i>
        <!-- Avatar -->
        <div class="dropdown user_icon">
          <a *ngIf="!isLoggedIn" class="mt-2 mt-lg-0" href="/login" >
            Log in
          </a>
          <div *ngIf="isLoggedIn" class="dropdown" style="float:right;">
            <i class="material-icons-outlined" style="vertical-align: -5px;">account_circle</i>
            <div class="dropdown-content">
              <a *ngIf="classRef.userRole === 'admin'" href="/admin-panel">Panou admin</a>
              <a href="/order-history/{{classRef.user.id}}">Istoric comenzi</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->