<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4 containerclass">
  <div class="image">
    <img
      usemap="#workmap"
      src="https://media.gq.com/photos/63e2b84fc3e6ea31f7c7dd30/16:9/w_2560%2Cc_limit/best-shoe-brands-nike-asics-celine.jpg"
      class="img-fluid"
      alt="Sample image for first version of blog listing"
    />
    <map name="workmap">
      <area shape="rect" coords="526, 92, 1080, 354" href="/p/16" />
      <area shape="rect" coords="1377, 134, 1888, 384" href="/p/17" />
      <area shape="rect" coords="242, 299, 706, 585" href="/p/18" />
      <area shape="poly" coords="1928, 446, 1932, 704, 1436, 681, 1661, 533" href="/p/22" />
      <area shape="poly" coords="1094, 321, 1087, 542, 1694, 518, 1470, 387" href="/p/23" />
      <area shape="rect" coords="72, 807, 570, 606" href="/p/24" />
    </map>
  </div>
</div>
