<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4 containerclass">

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3" style="margin-top: 230px !important;">


      <h2 class="h4 mb-4" >Descopera modelele de tenisi pentru femei</h2>

      <a class="btn btn-success">Vezi</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3" style="margin-top: 100px !important;">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="https://pyxis.nymag.com/v1/imgs/943/8fe/c40d9d1c129b401b19cf7245c80d81a287-bic-white-sneakers-for-women.2x.rsocial.w600.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        
      </div>

    </div>
    
    <div class="col-md-4 offset-md-1 mx-3 my-3"  style="margin-top:150px !important;">

      <!-- Featured image -->
      <div class="view overlay">
        <img style="margin-left: 178px;" src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iD4QT68cCp0s/v0/1200x-1.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        
      </div>

    </div>

    <div class="col-md-7 text-md-left ml-3 mt-3" style="margin-top: 320px !important;">


      <h2 class="h4 mb-4" >Descopera modelele de tenisi pentru barbati</h2>

      <a class="btn">Vezi</a>

    </div>
    <!-- Grid column -->


  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->