<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<mat-toolbar>
  <button mat-button class="top-button" (click)="changePage()">
    Admin Panel
    <span class="material-icons"> 
      expand_less
    </span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [disableClose]="true"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top">
    <div class="content">
      <button mat-button class="sidenav-element" (click)="selectCategoriesTable()">
        <span class="material-symbols-outlined">
          category
        </span>
        Categories
      </button>
      <button mat-button class="sidenav-element" (click)="selectProductsTable()">
        <span class="material-symbols-outlined">
          inventory_2
        </span>
        Products
      </button>
      <button mat-button class="sidenav-element" (click)="selectUsersTable()">
        <span class="material-symbols-outlined">
          person
        </span>
        Users
      </button>
      <button mat-button class="sidenav-element"(click)="selectAttributesTable()">
        <span class="material-symbols-outlined">
          sell
        </span>
        Attributes
      </button>
      <button mat-button class="sidenav-element" (click)="selectOrdersTable()">
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
        Orders
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="categoriesTable">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Categories">
          <app-admin-categories></app-admin-categories>
        </mat-tab>
        <mat-tab label="Subcategories">
          <app-admin-subcategories></app-admin-subcategories>
        </mat-tab>
      </mat-tab-group>
    </div>
    <app-admin-users *ngIf="usersTable"></app-admin-users>
    <app-admin-orders *ngIf="ordersTable"></app-admin-orders>
    <div *ngIf="productsTable">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Products">
          <app-admin-products></app-admin-products>
        </mat-tab>
        <mat-tab label="Variants">
          <app-admin-variants></app-admin-variants>
        </mat-tab>
        <mat-tab label="Brands">
          <app-admin-brand></app-admin-brand>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="attributesTable">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Product Attributes">
          <app-admin-product-attributes></app-admin-product-attributes>
        </mat-tab>
        <mat-tab label="Attribute Values">
          <app-admin-attribute-value></app-admin-attribute-value>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>