<div style="margin-top: 70px;">
  <mat-grid-list cols="4" rowHeight="1:1">
    <h2>Noile modele Nike</h2>
    <div *ngFor="let variant of variantsNike | slice:0:4">
      <mat-grid-tile *ngIf="variant.productId?.brand?.name === 'Nike'" >
        <mat-card class="example-card" (click)="navigate(variant.id)">
          <img mat-card-image [src]="variant.productId?.image" alt="Product Picture">
          <div class="card-content">
            <mat-card-header>
              <mat-card-title> {{variant.productId?.name}} </mat-card-title>
              <mat-card-subtitle> {{variant.productId?.brand?.name}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{variant.productId?.price | currency:'RON'}}
              </p>
            </mat-card-content>
        </div>
       </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="1:1" style="margin-top: 70px;">
    <h2>Noile modele Adidas</h2>
    <div *ngFor="let variant of variantsAdidas | slice:0:4">
      <mat-grid-tile  *ngIf="variant.productId?.brand?.name === 'Adidas'">
        <mat-card class="example-card" (click)="navigate(variant.id)">
          <img mat-card-image  [src]="variant.productId?.image" alt="Product Picture">
          <div class="card-content">
            <mat-card-header>
              <mat-card-title> {{variant.productId?.name}} </mat-card-title>
              <mat-card-subtitle> {{variant.productId?.brand?.name}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{variant.productId?.price | currency:'RON'}}
              </p>
            </mat-card-content>
        </div>
       </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>