app-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.home {
    background: url("https://img.freepik.com/free-vector/white-desktop-background-modern-wallpaper-design-vector_53876-144663.jpg?w=1800&t=st=1686511573~exp=1686512173~hmac=01f27b1cd5c912f48af3cfa2b9de16d5752b6fa11b6a95f748f00f73e43b19f0") ;
    background-size: cover;
     
} */