<div class="checkout-steps">
  <mat-stepper linear labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Completeaza adresa</ng-template>
        <div class="mat-content-container">
          <mat-form-field>
            <mat-label>Oras</mat-label>
            <input
              matInput
              placeholder="Oras"
              formControlName="cityCtrl"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tara</mat-label>
            <input
              matInput
              placeholder="Tara"
              formControlName="countryCtrl"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Judet</mat-label>
            <input
              matInput
              placeholder="Judet"
              formControlName="countyCtrl"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cod postal</mat-label>
            <input
              matInput
              placeholder="Cod postal"
              formControlName="postalCodeCtrl"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adresa</mat-label>
            <input
              matInput
              placeholder="Adresa"
              formControlName="addressCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="mat-content-container">
        <p>Confirma comanda.</p>
        <div>
          <button mat-button (click)="sendOrder()">Confirma</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<app-footer></app-footer>
