.table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2em !important;
}

table {
    width: 900px;
    padding-bottom: 2em;
}

.mat-form-field {
font-size: 14px;
}

td, th {
width: 25%;
}
.add-button {
    position: fixed;
    z-index: 100;
    bottom: 40px;
    right: 40px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    font-size: 38px;
}