<h1 mat-dialog-title align="center">Add new subcategories</h1>
<div mat-dialog-content align="center">
  <mat-form-field>
    <mat-label>Attribute Values</mat-label>
    <mat-select [value]="data.attributeValues" 
    multiple>
      <mat-option
        *ngFor="let attributeValue of attributeValues"
        [value]="attributeValue"
        (onSelectionChange)="changeValue($event, data.id)"
        >{{ attributeValue.val }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>