<h1 mat-dialog-title align="center">Add a new variant</h1>
<div mat-dialog-content align="center" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Variant Available Quantity</mat-label>
    <input
    matInput [(ngModel)]="variantData.availableQuantity" type="number"
    />
    <input matInput [(ngModel)]="variantData.availableQuantity">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Variant Price</mat-label>
    <input matInput [(ngModel)]="variantData.price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product</mat-label>
    <mat-select [(value)]="productData.id">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="{id: productData.id, availableQuantity: variantData.availableQuantity, price: variantData.price, addedDate: variantData.addedDate}" cdkFocusInitial>Ok</button>
</div>